@page "/bookmarks/{bookmarkID:int}/edit"
@inject Auth Auth
@inject IBookmarkService BookmarkService
@inject NavigationManager manager
@using BookmarksFront.Components
@using BookmarksFront.Classes
@using System.ComponentModel.DataAnnotations
@inject TempData tempdata
@implements IRefreshable


@if (response == null)
{
	<p>Loading, please wait ...</p>
}
else if (!response.isSuccess)
{
	@if (response.httpcode == 999)
	{
		<p>@response.message</p>
	}
	@if (response.errors != null)
	{
		@foreach (var item in response.errors)
		{
			<p>@item.type</p>
			<ul>
				@foreach (var par in item.data)
				{
					<li>@par.Key : @par.Value.ToString()</li>
				}
			</ul>
		}
	}

}
else
{
	<h3>Edit Bookmark @response.content.Name (<a href="/folders/@(response.content.Folder)/content"><Feather icon="corner-up-left"  width="32" height="32" /></a>)</h3>
	<EditForm Model="@model" OnValidSubmit="@Submit">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<CascadingValue Value="this">
			<ResponsiveTable>

				<ResponsiveTr>
					<ResponsiveTd><label for="name">Name:</label></ResponsiveTd>
					<ResponsiveTd><InputText id="name" @bind-Value="@model.name" /></ResponsiveTd>
				</ResponsiveTr>

				<ResponsiveTr>
					<ResponsiveTd><label for="url">URL:</label></ResponsiveTd>
					<ResponsiveTd><InputText id="url" @bind-Value="@model.Url" /></ResponsiveTd>
				</ResponsiveTr>

				<ResponsiveTr>
					<ResponsiveTd><label for="comment">Comment:</label></ResponsiveTd>
					<ResponsiveTd><InputTextArea id="comment" @bind-Value="@model.Comment" /></ResponsiveTd>
				</ResponsiveTr>

				<ResponsiveTr>
					<ResponsiveTd><label for="imgurl">Image Url:</label></ResponsiveTd>
					<ResponsiveTd><InputText id="imgurl" @bind-Value="@model.ImgUrl" /></ResponsiveTd>
				</ResponsiveTr>

				<ResponsiveTr>
					<ResponsiveTd colspan="2"><label for="tags">Tags (separated with ","):</label></ResponsiveTd>
				</ResponsiveTr>

				<ResponsiveTr>
					<ResponsiveTd colspan="2"><InputTextArea id="tags" @bind-Value="@model.tags" /></ResponsiveTd>
				</ResponsiveTr>

				<ResponsiveTr>
					<ResponsiveTd colspan="2" classes="flex-end"><input type="submit" value="Save" /></ResponsiveTd>
				</ResponsiveTr>

			</ResponsiveTable>
		</CascadingValue>
	</EditForm>
}
<p>@errormessage</p>

@code {
	[Parameter]
	public int bookmarkID{ get; set; }

	public bookmarkPutModel model { get; set; } = new();
	public string message { get; set; }
	public Response<Classes.Bookmark> response { get; set; }
	public Response<List<string>> tagsresponse { get; set; }

	public string errormessage{ get; set; }

	public class bookmarkPutModel
	{
		[Required]
		[StringLength(255)]
		public string name { get; set; }

		[StringLength(255)]
		public string Comment { get; set; }

		[Required]
		[StringLength(1023)]
		[Url]
		public string Url { get; set; }

		[StringLength(1023)]
		[Url]
		public string ImgUrl { get; set; }

		public string tags { get; set; }
	}



	protected override async Task OnParametersSetAsync()
	{
		if (await Auth.ConnectionRequired()) return;



		response = await BookmarkService.GetBookmark( bookmarkID);

		if (response.httpcode == 401)
		{
			await Auth.ResetConnection();
			return;
		}

		if (response.isSuccess)
		{
			model.name = response.content?.Name;
			model.ImgUrl = response.content?.ImgUrl;
			model.Url = response.content?.URL;
			model.Comment = response.content?.Comment;

			tagsresponse = await BookmarkService.GetTagsOfBookmark(bookmarkID);

			if (tagsresponse.isSuccess)
			{
				if (tagsresponse.content != null)
					model.tags = string.Join(", ", tagsresponse.content);
			}
		}
	}
	public async Task Submit(EditContext context)
	{
		response.content.ImgUrl = model.ImgUrl;
		response.content.Name = model.name;
		response.content.URL = model.Url;
		response.content.Comment = model.Comment;
		var responseToSend = await BookmarkService.PutBookmark( response.content);

		if (response.httpcode == 401)
		{
			await Auth.ResetConnection();
		}
		if (!response.isSuccess)
		{
			errormessage = response.message;
		}
		else
		{
			var tagsInText = model.tags.Split(',', StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries);
			var diffInputNumber = tagsInText.Count() != tagsresponse.content.Count;
			if (diffInputNumber || (tagsInText.Any(a => !tagsresponse.content.Contains(a))))
			{
				var putresponse = await BookmarkService.PutBookmarkTags( bookmarkID, tagsInText.ToList());
			}

			var ret = tempdata["return"] as string;
			if(ret!=null){
				manager.NavigateTo(ret);
			}
			else{
				manager.NavigateTo($"/folders/{response.content.Folder}/content");
			}

		}
	}

	void IRefreshable.Refresh(){
		StateHasChanged();
	}
}
