@page "/folders/{folderID:int}/folders/add"
@using System.ComponentModel.DataAnnotations
@inject Auth Auth
@inject IBookmarkService bookmark
@inject NavigationManager navmanager
@implements IRefreshable

<h3>Add Folder In Folder n°@folderID (<a href="/folders/@(folderID)/content"><Feather icon="corner-up-left"  width="32" height="32" /></a>)</h3>

<EditForm Model="@model" OnValidSubmit="@Submit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<CascadingValue Value="this">
		<ResponsiveTable>

			<ResponsiveTr>
				<ResponsiveTd>
					<label for="name">Name:</label>
				</ResponsiveTd>
				<ResponsiveTd>
					<InputText id="name" @bind-Value="@model.name" />
				</ResponsiveTd>
			</ResponsiveTr>

			<ResponsiveTr>
				<ResponsiveTd>
					<label for="imgurl">Image Url:</label>
				</ResponsiveTd>
				<ResponsiveTd>
					<InputText id="imgurl" @bind-Value="@model.ImgUrl" />
				</ResponsiveTd>
			</ResponsiveTr>

			<ResponsiveTr>
				<ResponsiveTd colspan="2">
					<label for="tags">Tags (separated by ","):</label>
				</ResponsiveTd>
			</ResponsiveTr>

			<ResponsiveTr>
				<ResponsiveTd colspan="2">
					<InputTextArea id="tags" @bind-Value="@model.tags" class="fullwidth" />
				</ResponsiveTd>
			</ResponsiveTr>

			<ResponsiveTr>
				<ResponsiveTd colspan="2" classes="flex-end">
					<input type="submit" value="Create Folder" />
				</ResponsiveTd>
			</ResponsiveTr>

		</ResponsiveTable>
	</CascadingValue>


</EditForm>




@code {
	[Parameter]
	public int folderID{ get; set; }

	public postFolderModel model { get; set; } = new postFolderModel();

	public class postFolderModel
	{
		[Required][StringLength(255,ErrorMessage = "Name is too long")]
		public string? name { get; set; }
		[Url(ErrorMessage =" Image url Must be a valid URL")]
		public string? ImgUrl { get; set; }
		public string? tags { get; set; }

	}


	public async Task Submit(EditContext context)
	{
		Classes.Folder folder = new Classes.Folder() {Container = folderID, Name = model.name ?? "empty", ImgUrl = string.IsNullOrWhiteSpace(model.ImgUrl) ? null : model.ImgUrl};
		var result = await bookmark.PostFolder( folder);

		if (result.httpcode == 401)
		{
			await Auth.ResetConnection();
			return;
		}
		else
		{
			if(result.isSuccess){
				var tagsInText = model.tags?.Split(',', StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries);
				if (tagsInText != null && tagsInText.Length > 0)
				{
					var putresponse = await bookmark.PutFolderTags(result.content?.ID ?? 0, tagsInText.ToList());
				}
			}
			navmanager.NavigateTo($"/folders/{folderID}/content");
		}
	}

	protected override async Task OnParametersSetAsync()
	{
		if (await Auth.ConnectionRequired()) return;
	}

	void IRefreshable.Refresh(){
		StateHasChanged();
	}

}
